# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.QueueConnect.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\QueueConnect\.idea\.idea.QueueConnect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
